.auth-input {
  padding: 13px 20px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  width: 300px;
}

.auth-form {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 300px;
  margin-top: 40px;
}

h1 {
  justify-self: left;
  font-size: 26px;
  margin-bottom: 12px;
}

a {
  color: #3283fd;
  text-decoration: none;
}

a:hover {
  color: #1e77fd;
  text-decoration: underline;
}
a.primary-btn {
  color: #fff;
  text-decoration: none;
}

.right-align {
  justify-self: right;
}

.primary-btn {
  padding: 13px 20px;
  border: none;
  background-color: #4dcbdc;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-style: bold;
  width: 300px;
  margin-bottom: ;
  text-align: center;
}

.subtitle {
  font-weight: 300;
}
